* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, #eebbbb, transparent);
  padding-top: 50px;
}
.inner-container {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0px rgb(245, 147, 147);
  border-radius: 10px;
}
.sophie_logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  padding-top: 40px;
}
h1 {
  color: #971c0a;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid #971c0a;
  margin: 10px;
  padding: 5px;
}
h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  /* line-height: 1px; */
}
.cake-image {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  padding-top: 5px;
}
p {
  display: block;
  margin: 0 auto;
  text-align: justify;
  padding: 30px 30px 20px 30px;
  line-height: 1.5em;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.readmore {
  /* text-decoration: noune; */
  color: #cf2b12;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  /* padding: 0 0 0 30px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a:hover {
  text-decoration: none;
}
.book {
  font-size: 18px;
  padding: 0 10px 0 30px;
}
button {
  background: #cf2b12;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 10px 100px 10px 100px;
  line-height: 40px;
  border-radius: 50px;
  border: 1px solid #cf2b12;
  font-size: 15px;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 10px 0px rgb(245, 147, 147);
  text-transform: uppercase;
}
button:hover {
  background: transparent;
  color: #971c0a;
}
hr {
  width: 80%;
  margin-top: 30px;
}
.footer {
  display: block;
  margin: 0 auto;
}
.coded {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
  opacity: 0.9;
  /* font-family: "Courier New", Courier, monospace; */
  /* } */
}
